body{
    background-color : black;
    position : absolute;
    width : auto;
    margin-top : 0px;

}
.topnav {
  overflow: hidden;
  backdrop-filter: blur(10px);
  position : fixed;
  width : 100%;
  height : 40px;
   z-index: 1;
}

.topnav a {
  float: left;
  color:  #cccccc;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 13px;
  font-family : Arial;


}

.topnav a:hover {
  background-color: none;
  cursor : pointer;
  color :  #ffffff;

}
.topnav a.aligntoleft{
    margin-left : 500px;
}
.secondnav{
    background-color : #ebebe0;
   overflow: hidden;
    width : 100%;
     height : 40px;
  position : fixed;
  top : 40px;


}
.secondnav a {
    float: left;
    text-align : center ;
    font-size: 13px;
    font-family : Arial;
    padding: 14px 10px;
    text-decoration: none;
}
.secondnav p{
    float: left;
    text-align : center ;
    font-size: 13px;
    font-family : Arial;
    text-decoration: none;
}
.secondnav a.alignl{
     margin-left : 600px;
}
.ipadpropic{
    position : absolute;
    left : 375px;
    top : 100px;
}

