.googletop{
	width : 500px;
	height : 100px;
	position : absolute;
	top : 10px;
	right : 10px;
}
.googlepic
{
	width : 500px;
	height : 350px;
	position : absolute;
	top : 200px;
	left : 700px;
}
.searchbar{
	width : 800px;
	height : 40px;
	position : absolute;
	left : 500px;
	top : 470px;
	border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
}
.mybutton{
	width : 100px;
	height : 40px;
	position : absolute;
	right : 450px;
	top : 470px;
	border-radius: 15px;
    border: 1px #000 solid;
	font-size : 20px;
}
.googledown{
	width : 700px;
	height : 400px;
	position : absolute;
	left : 650px;
	top : 550px;
}