.googletop{
  cursor: pointer;
  text-decoration: none;
  color: black;
  position : absolute;
  top :  20px;
  right : 200px;
  font-size : 20px;
}
.googleim{
	cursor: pointer;
  text-decoration: none;
  color: black;
  position : absolute;
  top :  20px;
  right : 130px;
  font-size : 20px;
}
.googlepic
{
	width : 500px;
	height : 350px;
	position : absolute;
	top : 180px;
	left : 730px;
}
.searchbar{
	width : 700px;
	height : 40px;
	position : absolute;
	left : 630px;
	top : 470px;
	border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
}
.mybutton{
		cursor: pointer;
	width : 100px;
	height : 40px;
	position : absolute;
	right : 440px;
	top : 475px;
	border-radius: 15px;
    border: 1px #000 solid;
	font-size : 20px;
}
.googlesearch{
	cursor: pointer;
	width : 180px;
	height : 40px;
	font-size : 20px;
	color : #404040;
	position :  absolute;
	top : 550px;
	left : 800px;
	border :  none;
}
.googlelucky{
	cursor: pointer;
	width : 180px;
	height : 40px;
	font-size : 20px;
	color : #404040;
	position :  absolute;
	top : 550px;
	left : 1000px;
	border :  none;
}
.lang{
	position : absolute;
	top : 600px;
	left : 650px;
}