.totalsec{
	width :100%;
	height : auto;
	margin: 0;
    padding : 0;
    overflow :hidden;
	text-align : center;
}
.headsec{
	width: 100%;
	height : auto;
	margin: 0;
    padding : 0;
    overflow :hidden;
}
.homepic{
    width : 100%;
    height : 250px;

}
.iconsec{
	width: 100%;
	height : auto;
	text-align : center;
	margin: 0;
    padding : 0;
    overflow :hidden;
}

.headingdiv{
	width: 100%;
	height : auto;
	margin: 0;
    padding : 0;
    overflow :hidden;
	text-align : center;
}
.headername{
    color : #001a66;
	font-size : 80px;
	margin: 0;
    padding : 0;
    overflow :hidden;

}
.icondiv{
	width: 100%;
	height : auto;
	margin-top : 40px;
    padding : 0;
    overflow :hidden;
}
.pic
{
	width: 200px;
	height: 200px;
}
.resumebutton
{
    cursor  : pointer;
	border :  none;
	margin-right : 40px;
}
.applebutton
{
    cursor : pointer;
	border : none;
	margin-right : 40px;

}
.rgbbutton
{
    cursor : pointer;
	border : none;

}
.todobut
{
    cursor : pointer;
	border : none;
	margin-right : 40px;

}
.crudbut
{
    cursor : pointer;
	border : none;
	margin-right : 40px;

}
.tambut
{
    cursor : pointer;
	border : none;

}
