.wholepage{
    background-image : url("/allpics/rgbcack.png");
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center;
    width : 100%;
    height : 100%;
    position : fixed;
}
.homebackpic
{
	width: 50px;
	height: 50px;
}
.homeback
{
    cursor : pointer;
	position :absolute;
	top : 0px;
	left : 0px;
}
.headertext{
    text-align : center;
    color : #001a66;
    font-size : 100px;
     background : none;
}
.totalpage{
    text-align : center ! important;
     font-size : 20px;
     background : none;
  }

.displeyer{

    height : 400px;
}
.printer{
    position : absolute;
    left : 450px;
    width : 1000px;
    height : 300px;
    background : rgb(0,0,0);
    border-style: ridge;
}

.rgbtestres
{
    font-size : 100px;
    font-family : Arial;
    text-align : center;
    color : rgb(255,255,255);
     background : none;
}
.changer{
    position : absolute;
    top : 500px;
    left : 500px;
    height : 500px;
    margin-top : 100px;
     background : none;
}
.redchange{
    float : left;
    padding: 14px 80px;
}
.valredcs{
    margin-top : 20px;
    font-size : 20px;
    font-family : Arial;
    color : white;
}
 .greenchange{
    float : left;
    padding: 14px 80px;
}
.valgreencs{
    margin-top : 20px;
    font-size : 20px;
    font-family : Arial;
    color : white;
}
 .bluechange{
    float : left;
    padding: 14px 80px;
}
.valbluecs{
    margin-top : 20px;
    font-size : 20px;
    font-family : Arial;
    color : white;
}
.colorw{
    color : white;
}